<form class="reactiveForm" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <app-sub-header text="{{ title }}"></app-sub-header>
    <div class="color-selector">
        <label for="color-picker">Color:</label>
        <select id="color-picker" formControlName="color">
            <option *ngFor="let color of colors" [value]="color">
               {{ formatColorTextDisplay(color) }}
            </option>
        </select>
    </div>
    <button type="submit">Submit</button>
    <span *ngIf="formSubmittedMessage === true" class="formSubmittedMessage">Color Submitted.</span>
</form>
